body {
	padding-top: 50px;
	text-align: center;
	background-size: cover;
	opacity: .9
}
h1{
	margin-top: 10px;
}
.marketing {
	padding-left: 15px;
	padding-right: 15px;
	margin: 40px 0;
}
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.jumbotron {
	padding: 30px 60px;
}
.jumbotron .btn {
	font-size: 20px;
}